_markdown_main/
.build/
.tmp/
build/
.idea/
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.markdown.lua
*.pdf
*.synctex.gz
*.toc
*.err
*.tmp
*.bcf
*.run.xml
document-template.sublime-workspace
luacov.stats.out
